<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>

    <!-- IPC接口聚合中心配置 , IPCurl是接口中心地址，ThisAppPoolName是本地应用进程池名（部署时清理进程用的） -->
    <add name="IPCurl" connectionString="http://ipc.ipc.com/fmwscenter.asmx"/>
    <add name="ThisAppPoolName" connectionString="动态"/>
    <!-- Redis数据库缓存设置 -->
    <add name="DefaultRedis" connectionString="192.168.10.17|6379"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
