/ws核心业务中心/ForIPC/IPClist.config
/ws界面中心/ForIPC/FMWSDL__bssystem__A601A0E92E911BAB549C466F5A662EBA.dll
/ws界面中心/ForIPC/IPClist.config
/.vs/gzf/v14/.suo
/.vs
/IPC服务接口聚合/ForIPC
/ws界面中心/ForIPC
/ws界面中心/uploadfiles/2016/07/05
