<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- 数据库连接 -->
    <add name="mainsqlserver" connectionString="Data Source=192.168.0.121;Initial Catalog=PFPTkf;Persist Security Info=True;User ID=sa;Password=100zzcom;Min Pool Size=100;Max Pool Size=5000;Connection Lifetime=50;Connect Timeout=60;Workstation ID=xxxx" providerName="System.Data.SqlClient"/>
    <!-- IPC接口聚合中心配置 , IPCurl是接口中心地址，ThisAppPoolName是本地应用进程池名（部署时清理进程用的） -->
    <add name="IPCurl" connectionString="http://ipc.ipc.com/fmwscenter.asmx"/>
    <add name="ThisAppPoolName" connectionString="缓存手动操作工具"/>

    <!-- Redis数据库缓存设置 -->
    <add name="DefaultRedis" connectionString="192.168.10.17|6379"/>
    </connectionStrings>
</configuration>