<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <connectionStrings>
    
    <!-- IPC接口聚合中心配置 , IPCurl是接口中心地址，ThisAppPoolName是本地应用进程池名（部署时清理进程用的） -->
    <add name="IPCurl" connectionString="http://ipc.gzf.com/fmwscenter.asmx"/>
    <add name="ThisAppPoolName" connectionString="公租房-ws界面中心" />
    <!-- Redis数据库缓存设置 -->
    <add name="DefaultRedis" connectionString="192.168.10.17|6379" />
  </connectionStrings>
  <appSettings>
    <!-- 系统名称 -->
    <add key="SYSname" value="威海公租房管理系统" />
  </appSettings>
  <system.web>
    <sessionState  mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" timeout="60" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Numerics, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
 
 
  </system.web>
  <runtime>
    <!-- 为应用程序禁用 CAS 发行者策略检查 -->
    <generatePublisherEvidence enabled="false" />
  </runtime>
</configuration>